<h1>List of Photos</h1>

<form action="/insert_photo_record" method="post">
  <label for="Image">Image</label>
  <input type="text" id="Image" name="query_image" placeholder="Enter image URL" />
  <label for="Caption">Caption</label>
  <textarea id="Caption" name="query_caption" placeholder="Enter caption"></textarea>
  <label for="Owner ID">User ID</label>
  <input type="text" id="Owner ID" name="query_user_id" placeholder="Enter user ID" />
  <button type="submit" value="Add photo" class="btn btn-primary">Add photo</button>
</form>

<hr>

<!-- Image/Caption/Owner/Posted/ -->
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">
      Image
    </th>
    <th scope="col">
      Caption
    </th>
    <th scope="col">
      Owner
    </th>
    <th scope="col">
      Posted
    </th>
    <th scope="col">
    </th>
  </tr>
  </thead>
  <tbody>

  <% @photos.each do |photo| %>
    <tr>
      <td>
        <%= image_tag photo.image, width: 100 %>
      </td>

      <td>
        <%= photo.caption %>
      </td>

      <td>
        <%= photo.poster.username %>
      </td>

      <td>
        <%= photo.created_at %>
      </td>

      <td>
        <a href="/photos/<%= photo.id %>">Show Details</a>
      </td>
    </tr>
  <% end %>

  </tbody>

</table>
